In [1]:
import pandas as pd
from ast import literal_eval
df=pd.read_csv('test_data2.csv')

In [2]:
df.head()

  DURATION WALKING_KIND WALKING_LEVEL                       KEYWORDS
0  toohigh         walk        normal  ['쉴수있는벤치가있어요', '배변봉투수거함이있어요']
1     high          run          hard      ['강아지들이많아요', '자전거가많이다녀요']
2     high        climb          hard        ['나무가많아요', '줄을짧게잡아야해요']
3      low         walk          hard        ['들판이있어요', '자전거가많이다녀요']
4  toohigh        climb          hard      ['강아지들이많아요', '자전거가많이다녀요']

In [3]:
df['KEYWORDS']=df['KEYWORDS'].apply(literal_eval)

In [4]:
df.head()

  DURATION WALKING_KIND WALKING_LEVEL                   KEYWORDS
0  toohigh         walk        normal  [쉴수있는벤치가있어요, 배변봉투수거함이있어요]
1     high          run          hard      [강아지들이많아요, 자전거가많이다녀요]
2     high        climb          hard        [나무가많아요, 줄을짧게잡아야해요]
3      low         walk          hard        [들판이있어요, 자전거가많이다녀요]
4  toohigh        climb          hard      [강아지들이많아요, 자전거가많이다녀요]

In [5]:
#띄어쓰기 제거함수
def clean_data(x):
    if isinstance(x,list):
        return [i.replace(' ','') for i in x]

In [6]:
#빈칸을 기준으로 다 합치는 작업
def create_soup(x):
    return x['DURATION']+' '+x['WALKING_KIND']+' '+x['WALKING_LEVEL']+' '+' '.join(x['KEYWORDS'])

In [7]:
df['soup']=df.apply(create_soup,axis=1)
df['soup']

0      toohigh walk normal 쉴수있는벤치가있어요 배변봉투수거함이있어요
1                high run hard 강아지들이많아요 자전거가많이다녀요
2                high climb hard 나무가많아요 줄을짧게잡아야해요
3                  low walk hard 들판이있어요 자전거가많이다녀요
4           toohigh climb hard 강아지들이많아요 자전거가많이다녀요
                          ...
194                    low run hard 나무가많아요 길이깨끗해요
195           verylow walk normal 횡단보도가많아요 길이더러워요
196                 low run hard 강아지들이많아요 강아지가없어요
197                toohigh run hard 들판이있어요 길이깨끗해요
198                  toohigh walk easy 한적해요 변이많아요
Name: soup, Length: 199, dtype: object

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

count=CountVectorizer()
count_matrix=count.fit_transform(df['soup'])
count_matrix

<199x27 sparse matrix of type '<class 'numpy.int64'>'
	with 995 stored elements in Compressed Sparse Row format>

In [9]:
type(df['soup'][0])

str

In [10]:
tmp_input=['middle run hard 들판이있어요 길이깨끗해요']
tmp_matrix=count.transform(tmp_input)
tmp_matrix

<1x27 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim=cosine_similarity(tmp_matrix,count_matrix)
cosine_sim

array([[0. , 0.4, 0.2, 0.4, 0.2, 0.2, 0.6, 0. , 0.2, 0. , 0. , 0. , 0.2,
        0.2, 0.2, 0. , 0.4, 0.4, 0.2, 0.2, 0. , 0. , 0. , 0.4, 0.2, 0.2,
        0.4, 0.2, 0. , 0.2, 0. , 0. , 0. , 0. , 0.4, 0.4, 0.2, 0.2, 0.2,
        0. , 0.2, 0.2, 0. , 0.4, 0.2, 0.6, 0.2, 0. , 0. , 0.2, 0.2, 0.4,
        0.2, 0. , 0.4, 0.2, 0. , 0. , 0.2, 0.4, 0. , 0.4, 0.6, 0.4, 0.4,
        0.4, 0.2, 0.2, 0.4, 0. , 0.2, 0.2, 0.4, 0. , 0.2, 0. , 0.2, 0.2,
        0. , 0.2, 0.2, 0.4, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.4,
        0.2, 0.2, 0.4, 0.2, 0. , 0. , 0.2, 0.4, 0.2, 0.2, 0.6, 0.2, 0.4,
        0.2, 0.2, 0.2, 0.4, 0. , 0. , 0.2, 0.2, 0. , 0. , 0.4, 0.2, 0. ,
        0. , 0.4, 0. , 0.2, 0. , 0.4, 0.2, 0.2, 0.6, 0.2, 0. , 0. , 0.4,
        0.2, 0.4, 0.4, 0. , 0.2, 0.2, 0.2, 0. , 0.2, 0. , 0.2, 0. , 0. ,
        0.2, 0.6, 0.2, 0.2, 0. , 0. , 0.2, 0.2, 0.4, 0.4, 0. , 0.6, 0.2,
        0.6, 0. , 0.2, 0.2, 0. , 0.6, 0.2, 0.2, 0. , 0.6, 0.2, 0.2, 0.2,
        0.2, 0. , 0.4, 0.4, 0. , 0. , 0.4, 0.4, 0.6, 0. , 0.2, 0. , 0. ,
        0.2, 0.2, 0.2, 0.4, 0.6, 0.4, 0.4, 0. , 0.4, 0.2, 0.4, 0. , 0.6,
        0. , 0.4, 0.8, 0. ]])

In [12]:
cosine_sim.shape

(1, 199)

In [13]:
df.iloc[[3]]

,DURATION,WALKING_KIND,WALKING_LEVEL,KEYWORDS,soup
3,low,walk,hard,"[들판이있어요, 자전거가많이다녀요]",low walk hard 들판이있어요 자전거가많이다녀요

In [14]:
df

,DURATION,WALKING_KIND,WALKING_LEVEL,KEYWORDS,soup
0,toohigh,walk,normal,"[쉴수있는벤치가있어요, 배변봉투수거함이있어요]",toohigh walk normal 쉴수있는벤치가있어요 배변봉투수거함이있어요
1,high,run,hard,"[강아지들이많아요, 자전거가많이다녀요]",high run hard 강아지들이많아요 자전거가많이다녀요
2,high,climb,hard,"[나무가많아요, 줄을짧게잡아야해요]",high climb hard 나무가많아요 줄을짧게잡아야해요
3,low,walk,hard,"[들판이있어요, 자전거가많이다녀요]",low walk hard 들판이있어요 자전거가많이다녀요
4,toohigh,climb,hard,"[강아지들이많아요, 자전거가많이다녀요]",toohigh climb hard 강아지들이많아요 자전거가많이다녀요
...,...,...,...,...,...
194,low,run,hard,"[나무가많아요, 길이깨끗해요]",low run hard 나무가많아요 길이깨끗해요
195,verylow,walk,normal,"[횡단보도가많아요, 길이더러워요]",verylow walk normal 횡단보도가많아요 길이더러워요
196,low,run,hard,"[강아지들이많아요, 강아지가없어요]",low run hard 강아지들이많아요 강아지가없어요
197,toohigh,run,hard,"[들판이있어요, 길이깨끗해요]",toohigh run hard 들판이있어요 길이깨끗해요
198,toohigh,walk,easy,"[한적해요, 변이많아요]",toohigh walk easy 한적해요 변이많아요

In [19]:
def get_recommendations(cosine_sim=cosine_sim):
    sim_scores=list(enumerate(cosine_sim[0]))
    sim_scores=sorted(sim_scores,key=lambda x:x[1], reverse=True)
    sim_scores=sim_scores[:5]
    routes_indices=[i[0] for i in sim_scores]
    return routes_indices

In [16]:
test_sim_scores=list(enumerate(cosine_sim[0]))

In [17]:
test_sim_scores=sorted(test_sim_scores,key=lambda x:x[1], reverse=True)

In [18]:
test_sim_scores[:5]

[(197, 0.7999999999999999), (6, 0.6), (45, 0.6), (62, 0.6), (101, 0.6)]

In [19]:
routes_indices=[i[0] for i in test_sim_scores[:5]]
routes_indices

[197, 6, 45, 62, 101]

In [20]:
routes_indices=get_recommendations(cosine_sim)

In [21]:
df.iloc[routes_indices]

,DURATION,WALKING_KIND,WALKING_LEVEL,KEYWORDS,soup
197,toohigh,run,hard,"[들판이있어요, 길이깨끗해요]",toohigh run hard 들판이있어요 길이깨끗해요
6,toohigh,run,hard,"[길이깨끗해요, 줄을짧게잡아야해요]",toohigh run hard 길이깨끗해요 줄을짧게잡아야해요
45,toohigh,run,hard,"[길이더러워요, 들판이있어요]",toohigh run hard 길이더러워요 들판이있어요
62,middle,climb,hard,"[길이깨끗해요, 자전거가많이다녀요]",middle climb hard 길이깨끗해요 자전거가많이다녀요
101,middle,run,hard,"[나무가많아요, 길이더러워요]",middle run hard 나무가많아요 길이더러워요

In [22]:
tmp_input=['middle run hard 들판이있어요 길이깨끗해요']

In [23]:
df

,DURATION,WALKING_KIND,WALKING_LEVEL,KEYWORDS,soup
0,toohigh,walk,normal,"[쉴수있는벤치가있어요, 배변봉투수거함이있어요]",toohigh walk normal 쉴수있는벤치가있어요 배변봉투수거함이있어요
1,high,run,hard,"[강아지들이많아요, 자전거가많이다녀요]",high run hard 강아지들이많아요 자전거가많이다녀요
2,high,climb,hard,"[나무가많아요, 줄을짧게잡아야해요]",high climb hard 나무가많아요 줄을짧게잡아야해요
3,low,walk,hard,"[들판이있어요, 자전거가많이다녀요]",low walk hard 들판이있어요 자전거가많이다녀요
4,toohigh,climb,hard,"[강아지들이많아요, 자전거가많이다녀요]",toohigh climb hard 강아지들이많아요 자전거가많이다녀요
...,...,...,...,...,...
194,low,run,hard,"[나무가많아요, 길이깨끗해요]",low run hard 나무가많아요 길이깨끗해요
195,verylow,walk,normal,"[횡단보도가많아요, 길이더러워요]",verylow walk normal 횡단보도가많아요 길이더러워요
196,low,run,hard,"[강아지들이많아요, 강아지가없어요]",low run hard 강아지들이많아요 강아지가없어요
197,toohigh,run,hard,"[들판이있어요, 길이깨끗해요]",toohigh run hard 들판이있어요 길이깨끗해요
198,toohigh,walk,easy,"[한적해요, 변이많아요]",toohigh walk easy 한적해요 변이많아요

In [12]:
routeList=[{'userEmail': 'woong@mail.com', 'minutes': 40, 'personAge': '30대 이하', 'dogAge': '0~4살', 'walkKind': 'CLIMB', 'walkLevel': 'HARD', 'walkStatis': '중간', 'keyword1': 'asdf', 'keyword2': 'dfadf', 'minutesWord': 'LOW'}, {'userEmail': 'woong@mail.com', 'minutes': 0, 'personAge': '40대', 'dogAge': '5~8살', 'walkKind': 'WALK', 'walkLevel': 'EASY', 'walkStatis': '높음', 'keyword1': '강아지가 없어요', 'keyword2': '줄을 짧게 잡아야 해요', 'minutesWord': 'VERYLOW'}]

In [13]:
print(routeList)

[{'userEmail': 'woong@mail.com', 'minutes': 40, 'personAge': '30대 이하', 'dogAge': '0~4살', 'walkKind': 'CLIMB', 'walkLevel': 'HARD', 'walkStatis': '중간', 'keyword1': 'asdf', 'keyword2': 'dfadf', 'minutesWord': 'LOW'}, {'userEmail': 'woong@mail.com', 'minutes': 0, 'personAge': '40대', 'dogAge': '5~8살', 'walkKind': 'WALK', 'walkLevel': 'EASY', 'walkStatis': '높음', 'keyword1': '강아지가 없어요', 'keyword2': '줄을 짧게 잡아야 해요', 'minutesWord': 'VERYLOW'}]

In [14]:
type(routeList)

list

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(routeList)

In [17]:
df

,userEmail,minutes,personAge,dogAge,walkKind,walkLevel,walkStatis,keyword1,keyword2,minutesWord
0,woong@mail.com,40,30대 이하,0~4살,CLIMB,HARD,중간,asdf,dfadf,LOW
1,woong@mail.com,0,40대,5~8살,WALK,EASY,높음,강아지가 없어요,줄을 짧게 잡아야 해요,VERYLOW

In [18]:
def clean_data(x):
    if isinstance(x,str):
        return x.replace(' ','')

In [19]:
features =['keyword1','keyword2']
for feature in features:
    df[feature]=df[feature].apply(clean_data)

In [20]:
df

,userEmail,minutes,personAge,dogAge,walkKind,walkLevel,walkStatis,keyword1,keyword2,minutesWord
0,woong@mail.com,40,30대 이하,0~4살,CLIMB,HARD,중간,asdf,dfadf,LOW
1,woong@mail.com,0,40대,5~8살,WALK,EASY,높음,강아지가없어요,줄을짧게잡아야해요,VERYLOW

In [21]:
#빈칸을 기준으로 다 합치는 작업
def create_soup(x):
    return x['walkKind']+' '+x['walkLevel']+' '+x['minutesWord']+' '+x['keyword1']+' '+x['keyword2']

df['soup']=df.apply(create_soup,axis=1)
df['soup']

0              CLIMB HARD LOW asdf dfadf
1    WALK EASY VERYLOW 강아지가없어요 줄을짧게잡아야해요
Name: soup, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

count=CountVectorizer()
count_matrix=count.fit_transform(df['soup'])
count_matrix

<2x10 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [23]:
tmp_input=['WALK HARD LOW 들판이있어요 길이깨끗해요']
tmp_matrix=count.transform(tmp_input)
tmp_matrix

<1x10 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [24]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim=cosine_similarity(tmp_matrix,count_matrix)
cosine_sim

array([[0.51639778, 0.25819889]])

In [25]:
cosine_sim.shape

(1, 2)

In [26]:
df

,userEmail,minutes,personAge,dogAge,walkKind,walkLevel,walkStatis,keyword1,keyword2,minutesWord,soup
0,woong@mail.com,40,30대 이하,0~4살,CLIMB,HARD,중간,asdf,dfadf,LOW,CLIMB HARD LOW asdf dfadf
1,woong@mail.com,0,40대,5~8살,WALK,EASY,높음,강아지가없어요,줄을짧게잡아야해요,VERYLOW,WALK EASY VERYLOW 강아지가없어요 줄을짧게잡아야해요

In [28]:
def get_recommendations(cosine_sim=cosine_sim):
    sim_scores=list(enumerate(cosine_sim[0]))
    sim_scores=sorted(sim_scores,key=lambda x:x[1], reverse=True)
    sim_scores=sim_scores[:5]
    routes_indices=[i[0] for i in sim_scores]
    return routes_indices

In [32]:
routes_indices=get_recommendations(cosine_sim)

In [33]:
df.iloc[routes_indices]

,userEmail,minutes,personAge,dogAge,walkKind,walkLevel,walkStatis,keyword1,keyword2,minutesWord,soup
0,woong@mail.com,40,30대 이하,0~4살,CLIMB,HARD,중간,asdf,dfadf,LOW,CLIMB HARD LOW asdf dfadf
1,woong@mail.com,0,40대,5~8살,WALK,EASY,높음,강아지가없어요,줄을짧게잡아야해요,VERYLOW,WALK EASY VERYLOW 강아지가없어요 줄을짧게잡아야해요